.b{
    min-height: 100vh;
    width: 100%;
    background: #222222;
    display: flex; 
}
.left{
    width: 30%;
    color: white;
    padding: 20px;
    margin-top: 70px;
    text-align: center;
}
input{
    position: relative;
    width: 250px;
    height: 30px;
    margin-bottom: 30px;
}
.btn{
    position: relative;
    width: 250px;
    height: 30px;
    margin-bottom: 30px;
}
h2{
    color:white;
    margin-bottom: 30px;
}
.fil{
    position: relative;
    margin-left: 15px;
    width: 160px;
    height: 30px;
    margin-bottom: 30px;
}
.out{
    position:absolute;
    bottom: 0;
    width: 200px;
    height: 35px;
    cursor: pointer;
    color:white;
    outline: none;
    background: #222222;
    border: none;
}
.out:hover{
    background: white;
    color:#222222;
    transition: .3s all ease;
}
ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    color: white;
    border-bottom: 1px solid rgb(176, 164, 164);
    margin-bottom: 10px;
    font-size: x-large;
  }
  
  li a {
    text-decoration: none;
    color: white;
  }